{% extends "base.html" %}

{% block content %}
    <h1>注文の品一覧</h1>
    {% if orders == [] %}
        <p>注文の品は登録されていません</p>
    {% else %}
    <ul>
        {% for order in orders%}
        <img src="{{ url_for('static', filename='img/' + order.food.img) }}" alt="画像">
        <li>
            {{ order.food.food_name }}&nbsp;&nbsp;&nbsp;{{ order.food.price }}円
            <a href="{{ url_for('order.order_delete', order_id = order.order_id) }}">予約取り消し</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="{{ url_for('menu.index')}}">戻る</a>
{% endblock %}